<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modal</title>
</head>
<body>
    <!-- Modal -->
    <!-- Use to show the user extra content that REQUIRES user action.  Cannot be closed by clicking out of modal area -->
    <section class="modal" role="alertdialog">
        <h1 class="modal__heading">Modal</h1>
        <div class="modal__content">
            <!-- Insert content components here.  If raw HTML is needed in this area, first insert the HTML component then contain your HTML within it -->
        </div>
        <ul class="modal__action-list">
            <li class="modal__action"><!-- Insert button, link or form component here --></li>
            <!-- repeat dialog__action however much you need -->
        </ul>
    </section>
</body>
</html>
